APP_NAME="The TriFactory"
APP_ENV=stagging
APP_KEY=base64:64/K3v2EzOp+873pZs3vJUJ/8N4m2IHUWmWPLwFwpkY=
APP_DEBUG=false
APP_URL=https://beta.thetrifactory.com

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=trifactory
DB_USERNAME=trifactory
DB_PASSWORD=trifactory

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_DRIVER=ses
MAIL_HOST=email-smtp.us-west-2.amazonaws.com
MAIL_PORT=587
MAIL_USERNAME=AKIAYLPZW5TQBVF4CQHL
MAIL_PASSWORD=BJ6YpN++EVdx1dsTnHnDzZI5mfX0XIcNYbx4Ak4osiWB
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="tickets@thetrifactory.com"
MAIL_FROM_NAME="The TriFactory"

SES_KEY=AKIAYLPZW5TQBVF4CQHL
SES_SECRET=BJ6YpN++EVdx1dsTnHnDzZI5mfX0XIcNYbx4Ak4osiWB
SES_REGION=oregon